html,body{
    width: 100%;
    height: 100%;

}
div.background{
    background-image: url(../img/adminSection.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top:7%;
}
div.row{
    padding-top: 5%;
}
div.col-4{
    margin-left:auto;
    margin-right: auto;
}

div.background h1{
    color:#f7fcfe
}
.list-group a{
    background-color: transparent;
    color: white;
}