.container{
    margin-top:10px;
    margin-bottom: 10px;
}

.catalogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-end;
}
H2{
    text-align: center
}

.coche{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    background: white;
    border: 4px solid lightgray;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-end;
}
.coche img{
   height: 190px;
   flex-basis: 100%;

}

.coche h3{
    flex-basis: 30%;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin-left: auto ;
    margin-right: auto;
    float: bottom;
}

.coche h5{
    margin-left: auto ;
    margin-right: auto;
    padding: 0;
    float: bottom;
    align-items: flex-end;
    width: fit-content;
    height: fit-content;
}
.coche .referencia{
    margin-left: auto;
    margin-right: 15px;
}
.coche p{
    margin-left: 15px;
}