section{
    padding: 15px 15px 5px 10px;
}
.cajacomentarios{
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
}
.cometario{
    flex-basis: 70%;
    align-items:flex-end;
    border:1px solid green;
    border-right: 0px;
    padding: 10px;
}

