html,body{
    width: 100%;
    height: 100%;

}
div.background{
    background-image: url(../img/fondoInicioSesion.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top:7%;
}
 form {
     padding: 50px;
     background-color: white;
     opacity: 90%;
     border: 2px solid black;
     width: fit-content;
     height: fit-content;
     margin:  auto;
 }
 form h1{
     margin-bottom: 20px;
 }


div.col-4{
    margin-left:auto;
    margin-right: auto;
}