<header>
    <div id="cabecera">
        <h1>Wild Motors</h1 > <!--Marca-->
        <h3>Drive Anywhere</h3> <!--Lema-->
        <nav>
            <ul> <!--Menu-->
                <li><a href = "index.php?seccion=1" target = "_top" title = "home">Home<br></a></li>
                <li><a href = "index.php?seccion=2" target = "_top" title = "ofertas">Ofertas<br></a></li>
                <li><a href = "index.php?seccion=3" target = "_top" title = "models">Modelos<br></a></li>
                <li><a href = "index.php?seccion=4" target = "_top" title = "servicios">Servicios<br></a></li>
                ##seccionLogueado##
            </ul>
            ##botonCabecera##
        </nav>  
    </div>  
    <img src="./img/logo.png" alt=  "Logotipo Wild Motors">
</header>