
<h1>Estas en la seccion de administrador</h1>
<button><a href="index.php?seccion=6&accion=altaUsuario&id=1">Dar de alta a un Usuario</a></button>
<button><a href="index.php?seccion=6&accion=editarUsuario&id=1">Editar Usuario</a></button>
<button><a href="index.php?seccion=6&accion=cargaMasivaUsuarios&id=1">Realizar una carga masiva de usuarios</a></button>
<button><a href="index.php?seccion=6&accion=subirModelo&id=1">Subir modelo de coche</a></button>
<button><a href="./index.php?seccion=6&accion=mostrarUsuarios&id=1">Mostrar datos de Usarios</a></button>