<main>
    <h1>Listado de personas</h1>
    <table border = 1>
        <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Fecha de Nacimiento</th>
            <th>Telefono</th>

        </tr>
        ##fila##
        <tr>
            <td>##oidUsuarios##</td>
            <td>##idUsuario##</td>
            <td>##nombre##</td>
            <td>##apellidos##</td>
            <td>##correo##</td>
            <td>##fechaNacimiento##</td>
            <td>##telefono##</td>

        </tr>
        ##fila##
    </table><br>
    <button><a href="./index.php?seccion=6&accion=editarUsuario&id=1">Volver</a></button>
    <button><a href="./index.php?seccion=6&accion=mostrarUsuarios&id=2">Generar PDF</a></button>
</main>