<link rel="stylesheet" href= "./css/catalogo.css"/>
<section>
    <div class="container">
        <h2>Catalogo coches 2020/2021</h2>
    </div>
        <div class="catalogo" >
            ##coche##
            <div class="coche">
                <h3>##marca##</h3 >
                <h5>##modelo##</h5>
                <img src="./uploadImages/medium/##imagen##">
                <p>##precio## € </p>
                <p class="referencia"><a href="index.php?seccion=3&accion=masInfo&id=1&matricula=##matricula##">+info</a></p>
             </div>
             ##coche##
        </div>
</section>