
 <link rel="stylesheet" href= "./css/servicios.css"/>

<section class = "servicios">
    <h3>Wild Motors: Tu experto en vehiculos</h3>
    
<div>  
	<img src="./img/servicioMapa.png"><br>
    <figcaption>DONDE NOS NECESITES <br>
    Contamos con más de 200 técnicos a su servicio</figcaption>

</div>
<div>
    <img src="./img/servicioAseguradora.jpg"><br>
	<figcaption>CUALQUIER MARCA, MODELO O ANTIGÜEDAD <br>
	Contamos con el stock de vehículos más amplio del sector.<br><br>
</div>
<div>
	<img src="./img/servicioCoche.png"><br>
	<figcaption>CON TU COMPAÑÍA ASEGURADORA <br>
	Tenemos acuerdos con todas las compañías. Una llamada, una solución.</figcaption><br><br>
</div>
<div>
    <img src="./img/servicioMedalla.png"><br>	
	<figcaption>CALIDAD Y PROFESIONALIDAD <br>
	La excelente formación y experiencia de nuestros técnicos avalan todos nuestros trabajos.</figcaption><br><br>
</div>
<div>
	<img src="./img/servicioBocadillo.png"><br>
	<figcaption>Si has tenido un accidente o necesitas asistencia no dudes en contactarnos.</figcaption><br><br>
</div>
<!--meter uno mas para que quede centrado y bien cuadrado-->
<div>
 	<img src="./img/servicioReloj.png"><br>
	<figcaption>Nuestro horario: <br>
	L-V: de 9:00 a 20:30 | S y D: de 10:00 a 19:00</figcaption> <br><br>
</div>
<div>
	<img src="./img/servicioEnviar.png"><br>
	<figcaption><br>Entrega en 48 horas a domicilio</figcaption>
</div>
<div>
	<img src="./img/servicioTaller.jpg"><br><br>
	Quiero llevar mi vehiculo al taller  <br><br>
	<!--<button><a href="index.php"></a></button>-->
</div> 	
</section>


