<link rel="stylesheet" href= "./css/mostrarDatos.css"/>
<section>
    <main>
        <h1>Mostrar persona</h1>
        <p>Usuario: ##idUsuario##</p>
        <p>Nombre: ##nombre##</p>
        <p>Apellidos: ##apellidos##</p>
        <p>Correo: ##correo##</p>
        <p>Fecha de Nacimiento: ##fechaNacimiento##</p>
        <p>Telefono: ##telefono##</p>
        <button id="cerrarSesion"><a href="index.php?seccion=5&accion=mostrarPerfil&id=2">Cerrar Sesion</a></button> 
        <button id="modificar"><a href="index.php?seccion=5&accion=mostrarPerfil&id=3">Modificar Perfil</a></button>
        <button id="eliminar"><a href="index.php?seccion=5&accion=mostrarPerfil&id=5">Eliminar cuenta</a></button>
        <button id="modificarPassword"><a href="index.php?seccion=5&accion=mostrarPerfil&id=7">Cambiar Contraseña</a></button>

    </main>
</section>