<link rel="stylesheet" href= "./css/formulario.css"/>
<main>
    <form action = "./index.php?seccion=6&accion=editarUsuario&id=2" method = "POST">
        <label for="usuario">Introduce el nombre del usuario que quieres modificar
            <input type="text" id="usuario" name="usernameCliente" placeholder="Usuario" maxlength="32" minlength="1"><br>
        </label>
        <label for="submit">
            <input type="submit" name="botonSubmit" id="submit" value= "SeleccionarUsuario">
        </label>
    </form>
</main>