<link rel="stylesheet" href="./css/comentarios.css" xmlns="http://www.w3.org/1999/html"/>
<section>
    <div class="container">
        <h2>Comenta aqui</h2>
        <form action = "./index.php?seccion=3&accion=masInfo&id=2&matricula=##matricula##" method = "POST" class="comentar">
            <label for="submit">
                <textarea id ="comentario" name="comentarios" id="comentario" rows="5" cols="100" placeholder="Escribe aquí tus comentarios"></textarea><br>
            </label>
            <label for="submit">
                <input class="submit" type="submit" name="botonSubmit" id="submit" value= "Enviar comentario">
            </label>
        </form>
    </div>
</section>