<link rel="stylesheet" href= "./css/formulario.css"/>
<main>
    <h1>Modificacion de Contraseña</h1>
<form action="./index.php?seccion=5&accion=mostrarPerfil&id=4" method="post">
    <label for="usuario">Usuario: ##idUsuario##  </label>
    <input type="hidden" name="usuario" id="usuario" value="##idUsuario##" ><br>

    <label for="nombre">Nombre: ##nombre##
    <input type="hidden" name="nombre" id="nombre" value="##nombre##"><br></label>

    <label for="apellidos">Apellidos: ##apellidos##  </label>
    <input type="hidden" name="apellidos" id="apellidos" value="##apellidos##"><br>

    <label for="correo">Correo: ##correo##  </label>
    <input type="hidden" name="correo" id="correo" value="##correo##"><br>

    <label for="fechaNacimiento">Fecha de nacimiento: ##fechaNacimiento##  </label>
    <input type="hidden" name="fechaNacimiento" id="fechaNacimiento" value="##fechaNacimiento##"><br>

    <label for="telefono">Telefono: ##telefono##
    <input type="hidden" name="telefono" id="telefono" value="##telefono##"><br></label>

    <label for="password">Introduce la nueva contraseña:
    <input type="password" id="password" name="password" maxlength="32" minlength="1" placeholder="Nueva contraseña"required><br></label>
    <label for="password">Confirma la nueva contraseña:
    <input type="password" id="confirm_password" name="confirmPassword" maxlength="32" minlength="1" placeholder="Repite la contraseña"required><br></label>
    <label  for="rol">
        <input type="hidden" name="rol" id="rol" value="##rol##"><br></label>
    <label  for="id">
        <input type="hidden" name="id" id="id" value="##oidUsuarios##"><br></label>


    <input type="submit" name="enviar" value="Enviar modificacion">
</form>
    <button><a href="index.php?seccion=5&accion=mostrarPerfil&id=1">Volver </button>
    <script src="./js/confirmarPassword.js"></script>
</main>