<link rel="stylesheet" href= "./css/formulario.css"/>
<main>
    <h1>Modificacion de persona</h1>
    <form action="./index.php?seccion=5&accion=mostrarPerfil&id=4" method="post">
        <label for="usuario">Usuario: ##idUsuario##
        <input type="hidden" name="usuario" id="usuario" value="##idUsuario##" ><br></label>

        <label for="nombre">Nombre:
        <input type="text" name="nombre" id="nombre" value="##nombre##"maxlength="32" minlength="1"required><br> </label>

        <label for="apellidos">Apellidos:
        <input type="text" name="apellidos" id="apellidos" value="##apellidos##"maxlength="64" minlength="1"required><br></label>

        <label for="correo">Correo:
        <input type="mail" name="correo" id="correo" value="##correo##"><br> </label>

        <label for="fechaNacimiento">Fecha de nacimiento:
        <input type="mail" name="fechaNacimiento" id="fechaNacimiento" value="##fechaNacimiento##"><br> </label>

        <label for="telefono">Telefono:
        <input type="number" name="telefono" id="telefono" value="##telefono##"><br> </label>

        <input type="submit" name="enviar" value="Enviar modificacion">
        <label  for="rol">
            <input type="hidden" name="rol" id="rol" value="##rol##"><br></label>
        <label  for="id">
            <input type="hidden" name="id" id="id" value="##oidUsuarios##"><br></label>

        <label  for="password">
        <input type="hidden" name="password" id="password" value="##password##"><br></label>
    </form>

    <button><a href="index.php?seccion=5&accion=mostrarPerfil&id=1">Volver</a></button>
</main>