<link href='./css/form.css' type='text/css' rel='stylesheet'>
<link href='./css/venderCoche.css' type='text/css' rel='stylesheet'>
<div class="background">
    <div class="container">
        <h1>Datos vehiculo</h1>
        <form action = "./index.php?seccion=7&accion=venderVehiculo&id=1" method = "POST" enctype="multipart/form-data" >
            <h2>DatosVehiculo</h2>
            <label for="marca">Selecciona la marca del coche<br>
                <select id="marca" name="marcaCoche">
                    <datalist id="dataListMarcaCoche">
                        ##datalist##
                    </datalist>
                </select>
            </label><br>
            <label for="modelo">Introduce el modelo del coche<br>
                <input type="text" id="modelo" name="modeloCoche">
            </label><br>
            <label for="matricula">Introduce la matricula<br>
                <input type="text" id="matricula" name="matriculaCoche">
            </label><br>
            <label for="descripcion">Introduce la descripcion del coche<br>
                <textarea id="descripcion" name="descripcionCoche"> </textarea>
            </label><br>
            <label for="precio">Introduce el precio del coche<br>
                <input type="number" id="precio" name="precioCoche">
            </label><br>
            <label for="submit">
                <input type="submit" name="subirCoche" id="submit" value= "Enviar Peticion">
            </label>
        </form>
    </div>
</div>
