<style>
    a.deleteComent:link, a.deleteComent:visited {
        background-color: white;
        color: black;
        border: 2px solid green;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;

    }

    a.deleteComent:hover, a.deleteComent:active {
        background-color: green;
        color: white;
    }
</style>
<a href="./index.php?seccion=3&accion=masInfo&id=3&matricula=##matricula##&idComentario=##idComentario##" class="deleteComent">Borrar comentario</a>