<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>##TITLE##</title>
    <link rel="shortcut icon" href="./img/logo.png"/>
    <link rel="stylesheet" href= "./css/cabecera.css"/>
    <link rel="stylesheet" href= "./css/main.css"/>
    <link href="./css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
##CONTENT##
</body>
<footer>
    <div id="footer">
        <div class="row" id="color">
            <div class="col-12 col-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
                <small class="d-block mb-3 text-muted">&copy; 2021-4ever</small>
            </div>
            <div class="col-6 col-md">
                <h5>Secciones</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Home</a></li>
                    <li><a class="text-muted" href="#">Ofertas</a></li>
                    <li><a class="text-muted" href="#">Catalogo</a></li>
                    <li><a class="text-muted" href="#">Servicios</a></li>
                    <li><a class="text-muted" href="#">Iniciar Sesion</a></li>
                    <li><a class="text-muted" href="#">Registrarse</a></li>
                </ul>
            </div>

            <div class="col-6 col-md">
                <h5>Marcas de vehiculos</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Nissan</a></li>
                    <li><a class="text-muted" href="#">BMW</a></li>
                    <li><a class="text-muted" href="#">Ford</a></li>
                    <li><a class="text-muted" href="#">Opel</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Redes sociales</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Instagram</a></li>
                    <li><a class="text-muted" href="#">Facebook</a></li>
                    <li><a class="text-muted" href="#">Twiteer</a></li>
                    <li><a class="text-muted" href="#">Snapchat</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Autores</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Íñigo Idoate</a></li>
                    <li><a class="text-muted" href="#">Iván Arbeloa</a></li>
                </ul>
            </div>
        </div>
     </div>
</footer>
</html>